
body{
    text-align: center;
    background-color: rgba(202, 191, 248, 0.962);
    
}

.flex-container{
    display: flex;
    flex-flow: wrap;
    padding: 10px;
    background-color: rgba(202, 191, 248, 0.962);

   align-content: space-around;
}

.Sandwich{
    background-color: black;
    color: white;
    font-style: italic;
}
article{
    text-align: center;
    border: 2px solid black;
    margin: 5px;
    background-color: rgb(192, 255, 255);
    flex: 30%;
}


img{
    width: 300px;
    margin: 10px;
}

main{
    background-color: rgb(192, 255, 255);  
}

@media (max-width<=600px){
    article{
        
        flex: 100%;
    }
}

@media (min-width: 600px) and (max-width: 900px){
    article{
        
        flex: 50%;
    }
}

@media (max-width>900px){
    article{
        
        flex: 30%;
    }
}
